<div class="row">
     <h1 class="text-center">Yo! We'd love to hear from you!</h1>

    <div id="map-canvas"></div>
    <hr>
    <div class="col-sm-8">
        <div class="row form-group">
            <div class="col-xs-3">
                <input class="form-control" id="firstName" name="firstName" placeholder="First Name" required="" type="text">
            </div>
            <div class="col-xs-3">
                <input class="form-control" id="middleName" name="firstName" placeholder="Middle Name" required="" type="text">
            </div>
            <div class="col-xs-4">
                <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="" type="text">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-5">
                <input class="form-control" name="email" placeholder="Email" required="" type="email">
            </div>
            <div class="col-xs-5">
                <input class="form-control" name="phone" placeholder="Phone" required="" type="email">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <input class="form-control" placeholder="Website URL" required="" type="homepage">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <button class="btn btn-default pull-right">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3 pull-right"> <address>
          <strong>Queen Bitch Store</strong><br>
          <span id="map-input">
          2841 N. Clark St, 4S<br>
          Chicago, Il 60657<br>
          </span>
          P: (123) 456-7890
        </address>
 <address>
          <strong>Email Us</strong><br>
          <a href="mailto:#">admin@queenbitchmag.com</a>
        </address> 
    </div>
</div>
<!--/row-->

