@import "bootstrap";

body {
  height: 100%;
  height: auto;
	background-color:#f5f5f1;
	color:#333333;
	font-family: 'Oswald', sans-serif;
}

.navbar-default {
	background-color: #000000;
	color: #ffffff;
}

.navbar-default .navbar-brand {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #d4b854;
	font-size: 30px;

}

.navbar-default .navbar-nav > li > a {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: #8cacb1;
}

.center {
	text-align: center;
}


.col-md-3:nth-child(4n+1){
	clear: left;
}

.col-md-6{
    h3 {font-size: 45px;}
    h5 {font-size: 25px;}
    p {font-size: 18px;}
}

.caption {
	h3 {
     font-size: 17px;
     margin: 2px;
	}

p {
     font-size: 15px;
     margin:0px;
	}
}

.btn-smooth{
  color: #ffffff; 
  background-color: #8CACB1; 
  border-color: #8CACB1; 
}

.alert-smooth {
	color: #ffffff; 
  background-color: #8CACB1; 
  border-color: #8CACB1; 
}

.panel-smooth .panel-heading {
  background-color:#8cacb1;
  color:#000000;
}



.footer {
    width:100%;
    height:auto;
    color:#d4b854;
    background-color:#000;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

body div.container {
margin-bottom: 70px;
}

thumbnail {
 padding: 0;
 border: 0;
 margin-bottom:0; 

}

.price {
 color: rgb(65, 152, 65);
}

.thumb_c{
  padding: 1px 10px;
  border: 0;
}

.listed-by {
  color: grey;
  font-size: 12px;

}

.jumbotron {
    background-image: url('https://www.dropbox.com/s/3ejg4hcwmk8vuif/jumbotron.jpg?raw=');
    color: #d4b854;
    text-shadow: black 0.2em 0.2em 0.2em;
}




